  body, html {
    margin: 0;
    background-image: url("homeBack.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  }

  .docu {
    overflow: hidden;
  }

  .menu-bar {
    position: fixed;
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    padding-top: 1em;
    z-index: 10;
  }

  .menu-bar img {
    padding-left: 2em;
    cursor: pointer;
  }

  .menu-bar a {
    font-family: arial;
    color: white;
    text-align: right;
    text-transform: uppercase;
    padding-right: 2em;
    text-decoration: none;
  }

  .menu-bar a:hover {
    text-decoration: underline;
  }

  .container {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
  }

  .sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    transition: all .2s ease-in-out;
  }

  .sticky img {
    max-height: 90vh;
  }

  .sticky img:hover {
    transform: scale(1.1)
  }

  #title {
    align-self: center;
    flex: 1 0 auto;
    margin-top: 20%;
  }

  #subtitle {
    flex-shrink: 0;
    font-family: arial;
    font-size: 1.5em;
    font-style: italic;
    color: white;
    margin-left: 1.5em;
  }

  #scroll {
    display: flex;
    flex-direction: column;
    align-content: center;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: arial;
    color: #8F60CC;
  }

  #scroll p {
    margin-block-end: 0.2em;
  }

  #scroll img {
    max-height: 2vh;
  }

  .windows {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .windows img {
    margin-bottom: 10em;
  }

  #alert_active {
    height: 10vh;
    width: 100vw;
    z-index: 14;
  }

  #alert_active2 {
    height: 10vh;
    width: 100vw;
    z-index: 14;
  }

  #separator {
    height: 50vh;
    width: 100vw;
  }

  .lockScroll {
    overflow: hidden;
  }

  .unfocused {
    filter: blur(4px);
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
  }

  .alert_container {
    position: relative;
    display: none;
    z-index: 15;
  }

  .alert_container2 {
    position: relative;
    display: none;
    z-index: 15;
  }

  .alert_container3 {
    position: relative;
    display: none;
    z-index: 15;
  }

  .alert {
    top: 30%;
    position: relative;
    text-align: center;
  }

  .alert a {
    font-family: arial;
    text-decoration: underline;
  }

  .alert_btn {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }

  .alert_btn2 {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }

  .alert_btn3 {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }

  #home_1 {
    top: 20%;
  }

  #home_2 {
    top: 30%;
    right: 40%;
  }

  #home_3 {
    top: 25%;
    left: 30%;
  }

  #home_4 {
    top: 15%;
  }

  #home_6 {
    top: 12.5%;
    right: 35%;
  }

  #home_7 {
    top: 10%;
    left: 45%;
  }

  #home_8 {
    top: 20%;
    right: 55%;
  }

  #home_9 {
    top: 15%;
  }

  #home_10 {
    top: 25%;
    right: 60%;
  }

  #home_11 {
    top: 7.5%;
    left: 45%;
  }

  #home_12 {
    top: 10%;
    right: 45%;
  }

  #home_13 {
    top: 15%;
  }

  #home_14 {
    top: 15%;
  }

  #home_15 {
    top: 15%;
  }

  #home_16 {
    top: 15%;
  }

  /* Modal */
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    width: 75%;
    height: 75%;
    box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.15);
    border-radius: 1em;
  }

  .barra {
    order: 1;
    background-color: #f8f8f9;
    position: relative;
    padding: 0px;
    border-radius: 10px;
  }

  /*The Close Button */
  .spegni {
    color: #C4C4C4;
    font-size: 1.5em;
    border-bottom: 1px solid #d9d9d9;
    padding: 0.3%;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.04);
    border-radius: 10px 10px 0px 0px;
      padding-left: 1%;
  }

  .content {
    order: 2;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
  }

  .leftCont {
    order: 1;
    width: 80%;
    display: flex;
    flex-direction: column;
  }

  .videocontainer {
    margin: 1.5em;
    flex-grow: 6;
  }

  .videocontainer iframe{
    border-radius: .5em;
    border-style: none;
  }

  .rightCont {
    order: 2;
    width: 20%;
    height: 100%;
    display: inline-block;
    /*border-left: 1px solid #d9d9d9;*/
    box-shadow: -1px 0 0 0 rgba(0, 0, 0, 0.07);
    padding-left: 1em;
      padding-right: 2em;
  }

  #coverEp {
    width: 40%
  }

  .preview {
    width: 10%;
    padding-right: 3%;
  }

  .preview img {
    cursor: pointer;
  }

  .suggeriti {
    flex-grow: 1;
    margin-left: 1.5em;
  }
