  body, html {

/*
       background:rgba(250,140,90,0.15);
      mix-blend-mode: multiply;
*/

    margin: 0;
/*    background-image: url("homeBack.png");*/
/*
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
*/
  }

#myContainer{
    position: fixed !important;
    z-index: -100;
}

  h2, p, h4, a {
    font-family: "Inter";
  }

#theHunt{
    top: 15%;
    position: relative;
}

  p, a {
    font-size: 0.8em;
  }

  a {
    text-decoration: underline;
    color: black;
  }

  .docu {
    overflow: hidden;
  }

  .titoletto {
    font-weight: 600;
  }

  #home-button img {
    width: 4.5em;
  }

  .menu-bar {
    position: fixed;
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    padding-top: 1em;
    z-index: 10;
  }

  .menu-bar img {
    padding-left: 2em;
    cursor: pointer;
  }

  .menu-bar a {
    font-family: 'Inter', sans-serif;
    color: white;
    text-align: right;
    text-transform: uppercase;
    padding-right: 2em;
    text-decoration: none;
    text-shadow: 0px 3px 5px rgba(250, 50, 150, 0.6);
      
  }
.home-button img{
    text-shadow: 0px 3px 5px rgba(250, 50, 150, 0.6);
}


#subtitle p{
    
    text-shadow: 0px 3px 5px rgba(250, 50, 150, 0.6);
}

  .menu-bar a:hover {
    text-decoration: underline;
  }

  .container {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
  }

  .sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    transition: all .2s ease-in-out;
  }

  .sticky img {
    max-width: 50vw;
    filter: brightness(90%);
  }

  .sticky img:hover {
    filter: brightness(100%);
  }

  #title {
    align-self: center;
    flex: 1 0 auto;
    margin-top: 20%;
  }

  #subtitle {
    flex-shrink: 0;
    font-family: 'Inter', sans-serif;
    font-size: 1.5em;
    font-style: italic;
    color: white;
    margin-left: 1.5em;
  }

  #scroll {
    display: flex;
    flex-direction: column;
    align-content: center;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Inter', sans-serif;
    color: #8F60CC;
  }

  #scroll p {
    margin-block-end: 0.2em;
  }

  #scroll img {
    max-height: 2vh;
  }

  .windows {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .windows img {
    margin-bottom: 10em;
  }

  #alert_active {
    height: 10vh;
    width: 100vw;
    z-index: 14;
  }

  #alert_active2 {
    height: 10vh;
    width: 100vw;
    z-index: 14;
  }

  #separator {
    height: 10vh;
    width: 100vw;
  }

  #bottom {
    height: 50vh;
    width: 100vw;
  }

  .lockScroll {
    overflow: hidden;
  }

  .unfocused {
    filter: blur(4px);
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    pointer-events: none;
  }

  .alert_container {
    position: relative;
    display: none;
    z-index: 15;
  }

  .alert_container2 {
    position: relative;
    display: none;
    z-index: 15;
  }

  .alert_container3 {
    position: relative;
    display: none;
    z-index: 15;
  }

  .alert {
    top: 30%;
    position: relative;
    text-align: center;
  }

  .alert a {
    font-family: 'Inter', sans-serif;
    text-decoration: underline;
  }

  .alert_btn {
    position: absolute;
    top: 35%;
    left: 60%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    opacity: 60%;
  }

  .alert_btn img {
    margin-bottom: 0 !important;
  }

  .alert_btn:hover {
    opacity: 100%;
  }

  #home_1 {
    top: 20%;
  }

  #home_2 {
    top: 30%;
    right: 40%;
  }

  #home_3 {
    top: 25%;
    left: 30%;
  }

  #home_4 {
    top: 15%;
  }

  #home_6 {
    top: 12.5%;
    right: 35%;
  }

  #home_7 {
    top: 10%;
    left: 45%;
  }

  #home_9 {
    top: 15%;
  }

  #home_11 {
    top: 7.5%;
    left: 40%;
  }

  #home_12 {
    top: 10%;
    right: 45%;
  }

  #home_13 {
    top: 15%;
    left: 25%;
  }

  #home_14 {
    top: 15%;
    right: 40%;
  }

  #home_15 {
    top: 15%;
    left: 35%;
  }

  /* Modal */
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    width: 75%;
    box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.15);
    border-radius: 1em;
  }

  .barra {
    order: 1;
    background-color: #f8f8f9;
    position: relative;
    padding: 0px;
    border-radius: 10px;
  }

  /*The Close Button */
  .spegni {
    color: #C4C4C4;
    font-size: 1.5em;
    border-bottom: 1px solid #d9d9d9;
    padding: 0.3%;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.04);
    border-radius: 10px 10px 0px 0px;
    padding-left: 1%;
  }

  .content {
    order: 2;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
  }

  .leftCont {
    order: 1;
    display: flex;
    flex-direction: column;
  }

  #e-leftCont {
    width: 80%;
  }

  #coverEp {
    width: 40%
  }

  .videocontainer {
    margin: 1.5em;
/*    flex-grow: 6;  commentato perché sto facendo experiments*/ 
  }

  .videocontainer video {
    border-radius: .5em;
    border-style: none;
  }

.endMessage{
      border-radius: .5em;
    border-style: none;
    
}

  .suggeriti {
    flex-grow: 1;
    margin-left: 1.5em;
    margin-right: 1.5em;
    display: flex;
    flex-direction: row;
    text-align: center;
  }

  .preview {
    position: relative;
    padding: 10% 5% 10% 5%;
    height: 25%;
    border-radius: 2.5px;
    margin-left: 4px;
    margin-right: 4px;
  }

  .preview img {
    cursor: pointer;
    max-width: 100%;
    max-height: 100%;
  }

  .fileName {
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    cursor: pointer;
  }

  .preview-selected {
    background-color: #E6E6E6;
  }

  .fileName-selected {
    background-color: blue;
    color: white;
  }

  .fileName p {
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding: 0.5em;
    font-size: 0.6em;
  }

  .rightCont {
    order: 2;
    height: 100%;
    display: inline-block;
    box-shadow: -1px 0 0 0 rgba(0, 0, 0, 0.07);
    padding-left: 1em;
    padding-right: 2em;
  }

  #e-rightCont {
    width: 20%;
  }

  #previewEP {
    width: 50%;
  }

  .info a:hover {
    color: blue;
  }

  /*What's behind*/
  #wb-leftCont {
    width: 30%;
  }

  .wb-sidenav {
    margin-top: 20%;
  }

  .wb-sidenav li {
    font-family: 'Inter', sans-serif;
    list-style-type: none;
    padding-bottom: 1em;
  }

  .wb-sidenav a {
    cursor: pointer;
    text-decoration: none;
  }

  .wb-sidenav a:active {
    font-weight: bold;
  }

  #wb-rightCont {
    width: 70%;
    padding: 0 !important;
  }

  .wb-description {
    padding: 1.5em 3em 1.5em 3em;
  }
